
/* -- Media queries for mobile --*/
@media only screen and (max-width: 1010px ) and (min-width: 600px)
{

html body{
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
}

  #main-wrapper {
    margin: auto;
    padding: 1rem 0 0 0;
    height : auto;
  }

  #search_text, 
  .search_button,
  .filter_container,
  .info,
  #header_text,
  #section_foot_text,
  #activity_header{
    padding-left : 1rem !important; 
    padding-right : 1rem;
  }
  .submit_button_mobile {
    display: block;
    background-color: var(--blue);
    border: solid 1px var(--blue);
    border-radius: 10px 10px 10px 10px;
    width: 50px;
    font-weight: bold;
    margin-left: -2vw;
  }
  .submit_button_mobile i {
    color: white;
  }

  .submit_button {
    display: none;
  }
  /*--deactivated header-desktop--*/
  #header_desktop {
    display: flex;

   }
  /*--activated header-mobile--*/
  #header_mobile {
    display: none;
  }

  /*--Header section--*/
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem  0 1.5rem;
  }

  .inscrire {
    text-align: right;
  }

  /*--navigation section--*/
  #nav_bar_mobile {
    margin: 20px 0 20px 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  li.nav_box {
    padding: 20px;
    width: 40%;
    border-bottom: solid 2px var(--gray);
    text-align: center;
  }
  .nav_box:hover {
    border-bottom: solid 2px var(--blue);
  }
  .hover_blue_mobile:hover {
    color: var(--blue);
  }

/*--Section 4 Filtres--*/  
  .filter_container{
    display : flex;
    flex-flow : row wrap;
  }
  .filter_icon{
    display: flex;
    flex-flow: row wrap;
    margin-left:0;
    
  }
  /*--section 5 herbergement à marseille--*/
  .container {
    display: flex;
    flex-flow: column-reverse wrap;
  }
  
  /*section 6 : aside--*/
  #aside_wrapper { 
    border-radius : 0;
    padding-bottom : 4rem;
    display: flex;
    flex-flow : column;
    justify-content: center;
    height : fit-content;
    align-items: flex-start;
    max-width: 100%;
  }

  .aside_container{
    padding:0;
    margin : auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .fig_aside{    
    margin-bottom : 2vh;
    max-width : 320px ;
    width : 100%;

  }
  .figcap_aside {
    padding-left :0.2rem;
    width : fit-content;
  }

  #aside_header {
  margin-left : 20vw;
  }

  /*--Section 4 : herbergement--*/
 .fig_herbergement{
   width : 320px;
   margin-bottom : 1em;
 }
#herbergement{
  width : 100%;
  background-color : white;
  border-radius: 0;
  display: flex;
  flex-flow: row wrap;
}
  .hotel_container {
    display: flex;
    flex-direction: column;
  }
  
  #header_text span {
    padding-left:0;
  }
  /*-- section 7 activity--*/
  #activity{
    display : flex;
    flex-direction: column;
  }

  .activity_card_container{
    display : flex;
    flex-flow : column wrap;
    margin : auto;
    box-sizing: border-box;
   }

  figure.card{
    width : 330px !important;
    height : 185px !important; 
    margin-bottom: 1rem;
  
  }
  .card img{
    height : 130px !important;
  }

  /*--Footer--*/
  footer{
    display: flex;
    flex-direction : column;
    margin-bottom: 7rem;
  }
  .footer{
  padding-left :2rem; 
   margin-top: 0;
   margin-bottom: 0;
  }

  .assistance{
    margin-bottom : 3rem;
  }
 
}
