/* -- Media queries for mobile --*/
@media only screen and (max-width: 1100px) and (min-width: 870px) {
  html body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #main-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding : 0;
    height: auto;
  }

  #search_text,
  .search_button,
  .filter_container,
  .info{
    margin : 0;
    padding-left: 2rem ;
    padding-right: 2rem;

  }
  
  /*--section 1 navigation --*/

  #logo{
    padding-top: 2rem;
  }
  #inscrire span{
    position: absolute;
    top: 2.5rem;
    right : 2rem;
  }

  nav.nav_bar_desktop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #nav_head{
    max-width: 1000px;
    width: 100%;

  }
  #nav_bar {
    width: 100%;
    display: flex;
    flex-direction : row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #nav_bar li{
    width:100%;
    border-bottom: solid 2px var(--gray);
    padding-bottom: 2rem;
    margin-left :auto;
    margin-right: auto;
  }
  #nav_bar li:hover {
    color: var(--blue);
    border-top: none;
    border-bottom: solid 2px var(--blue);
  }
 .hover_blue{
   margin-left:auto;
   margin-right: auto;
 }
  .hover_blue:hover{
    border-top:none;
  }

  /*--Section 4 Filtres--*/
  .filter_container {
    display: flex;
    flex-flow: row wrap;
  }
  .filter_icon {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
  }
  /*--section 5 herbergement à marseille--*/
  .container {
    display: flex;
    flex-flow: column-reverse wrap;
  }

  #herbergement{
    margin : 0;
  }

  .hotel_container{
    margin:0 !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    
  }
  /*section 6 : aside--*/
  #aside_wrapper{
  border-radius: 0;
  margin-left: -2rem;  
  margin-right: -2rem;  
  padding: 0;
}

  .aside_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    width : calc(100% - 4rem);
  }

  .fig_aside{
    flex : 45%;
    max-width: 45%;  
  }

  #aside_header{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width : calc(100% - 4rem);
  margin-right: auto;
  margin-left: auto;
  }

  /*--Section 4 : herbergement--*/
  #header_text{
    padding: 1rem 0;
  }
  #herbergement {
    width : 100%;
    background-color: white;
    border-radius: 0;
  }

  #section_foot_text h3{
    padding-left: 0;
  }
 
  /*-- section 7 activity--*/
  #activity_header {
    margin : 0;
  }
  #activity {
    display: flex;
    flex-direction: column;
  }

  .activity_card_container {
    display :grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: 180px 2rem 180px 2rem 180px;
  }
  
  .card img {
    height: 130px !important;
  }

  #card_1{
    grid-column: 1/2;
  }
  #card_2{
    grid-column: 3/4;
  }
  #card_3{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #card_4{
    grid-column: 3/4;
    grid-row: 3/4;
  }
  #card_5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #card_6{
    grid-column: 3/4;
    grid-row: 5/6;

  }

  /*--Footer--*/
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer ul{
    padding-left : 2rem; 
  }
}
