/* -- Media queries for mobile --*/
@media only screen and (max-width: 1040px) and (min-width: 680px) {
  html body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #main-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding : 0;
    height: auto;
  }

  #search_text,
  .search_button,
  .filter_container,
  .info,
  #header_text,
  #section_foot_text,
  #activity_header {
    padding-left: 1rem !important;
    padding-right: 1rem;
  }
  
  /*--section 1 navigation --*/

#logo{
  padding: 1rem;
}
  #inscrire span{
    position: absolute;
    top: 1.5rem;
    right : 1rem;
  }

  nav.nav_bar_desktop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #nav_head{
    max-width: 1000px;
    width: 100%;

  }
  #nav_bar {
    width: 100%;
    display: flex;
    flex-direction : row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #nav_bar li{
    width:100%;
    border-bottom: solid 2px var(--gray);
    padding-bottom: 2rem;
    margin-left :auto;
    margin-right: auto;
  }
  #nav_bar li:hover {
    color: var(--blue);
    border-top: none;
    border-bottom: solid 2px var(--blue);
  }
 .hover_blue{
   margin-left:auto;
   margin-right: auto;
 }
  .hover_blue:hover{
    border-top:none;
  }

  /*--Section 4 Filtres--*/
  .filter_container {
    display: flex;
    flex-flow: row wrap;
  }
  .filter_icon {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
  }
  /*--section 5 herbergement à marseille--*/
  .container {
    display: flex;
    flex-flow: column-reverse wrap;
  }

  /*section 6 : aside--*/
  #aside_wrapper{
  border-radius: 0;
  margin:0;
  padding:0;
  width:100%;
  overflow: scroll;
}

  .aside_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 1rem;
    width: calc(100% - 2rem);
  }

  .fig_aside{
    flex : 45%;
    max-width: 45%;  
  }

  #aside_header{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width : calc(100% - 2rem);
  margin-right: auto;
  margin-left: auto;
  }

  /*--Section 4 : herbergement--*/
  .fig_herbergement {
    width: 320px;
    margin-bottom: 1em;
  }
  #herbergement {
    width: 100%;
    background-color: white;
    border-radius: 0;
    display: flex;
    flex-flow: row wrap;
  }
  .hotel_container {
    display: flex;
    flex-direction: column;
  }

  #header_text span {
    padding-left: 0;
  }
  /*-- section 7 activity--*/
  #activity {
    display: flex;
    flex-direction: column;
  }

  .activity_card_container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  figure.card {
/*    width: 330px !important;
    height: 185px !important;
*/
    margin-bottom: 1rem;
  }
  .card img {
    height: 130px !important;
  }

  /*--Footer--*/
  footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
  }
  .footer {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .assistance {
    margin-bottom: 3rem;
  }
}
