@font-face {
  font-family: "Raleway";
}
/*--------x-----Global Classes---x-------*/
:root {
  --blue: #0065fc;
  --lightblue: #deebff;
  --gray: #f2f2f2;
}
*, 
*::before, 
*::after, 
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}
h3{
  font-weight: bold;
}

p span {
  font-weight: bold;
}
/*--------x-----Global Classes---x-------*/

/*-------Section 1 : nav logo header-------*/

#main-wrapper {
  padding: 0;
  width:100%;

}

header{
  margin-right: 2rem;
  margin-left: 2rem;

}
.nav_bar_desktop{
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin:0;
}

#logo{
  padding: 0; 
}

#nav_head{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin : 0;
  padding:0;  
}
#nav_bar{
  margin-right: 1rem;
  margin-top:0;
  
}
#nav_bar li {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav_bar li a {
  font-size: 1em;
  text-align: center;
  margin-top:0;
}


.hover_blue {
padding: 3rem 2rem ;
border-top: solid 2px white;
}

.hover_blue:hover {
  color: var(--blue);
  border-top: var(--blue) solid 2px;
}

.inscrire span {
  color: var(--blue);
  font-weight: bold;
}

.inscrire span:hover {
  color: red;
}
/*---------x----Section 1- nav - logo- header----x----------*/

#search_text h1 {
  font-weight: 700;
  font-size : 1.4rem;
  padding: 1rem 0;
}
#search_text{
  padding : 0 2rem 2rem 2rem;
}

/*--section 3 search_icon --*/
.search_button{
  display: inline-flex;
  margin-left : 2rem;
}

.submit_button {
  background-color: var(--blue);
  border: solid 1px var(--blue);
  border-radius: 0 15px 15px 0;
  min-width: 40px;
  width : 130px;
  height: 50px;
  cursor: pointer;
}

#submit_button_mobile{
  color: white;
  font-weight: bold;
}

.submit_button:hover {
  background-color: var(--lightblue);
  border: solid 2px var(--blue);
  transition: 0.5s;
  font-weight: bolder;
  color: var(--blue);
}

.submit_button span :hover{
  color: var(--blue);

}

#submit_button_mobile {
 display:none;
 color: white;
}
.submit_button span {
  display: block;
  color : white;
  font-size: 1.1rem;
  font-weight: bold;
}
.input_field {
  height: 50px;
  border: solid 1px var(--gray);
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 20px;
}

#map_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--gray);
  border-radius: 15px 0 0 15px;
  width: 50px;
  min-width: 30px;
  height: 50px;
}


/*-- Section 4 Filtres--*/

.filter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width : calc(100% - 4rem);
  margin : 2rem auto;

}

.filter_icon {
  display: inline-flex;
  width : 100%;
   

}

.filter_icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  border-radius: 50px;
  background-color: var(--lightblue);
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 1.3rem;
  z-index: 1;
}

.filter_link{
  padding-left: 1rem;
}
.filter_link h4 {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: solid var(--gray) 3px;
  border-radius: 50px;
  margin: 0;
  position: relative;
  right: 0px;
  z-index: 0;
  padding-left: 60px;
  padding-right: 20px;
  height :50px;
}

.filter_name:hover{
  color: var(--blue);
}

/*-- section Info--*/
.info {
  display: flex;
  align-items: baseline;
  margin: 0 2rem 2rem 2rem; 
}

.info i {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--gray) 1px;
  color: var(--blue);
  border-radius: 50px;
  height: 25px;
  width: 25px;
}

.info p {
  padding-left: 20px;
}

/*-- contaier for section 5 + 6 --*/

.container {
  display: grid;
  grid-template-columns: 68% 30%;
  column-gap: 2rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

/*--Section 5: Hébergement à Marseille--*/

#herbergement {  
  background-color: var(--gray);
  border-radius: 20px 20px 20px 20px;
}

#header_text {
  display: flex;
  align-items: flex-end;
  padding: 2rem 2rem 1rem 2rem;
}

#section_foot_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
  margin-top: 0;
  font-weight: bolder;
}


#section_foot_text h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 2rem;
}

.hotel_container {
display: grid;
grid-template-columns: repeat(3 , 1fr);
column-gap: 2rem;
row-gap: 2rem;
margin: 0 2rem;

}


.fig_herbergement {
  background-color: white;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px 20px;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(139, 83, 83, 0.2);
  margin:0;
}

.fig_herbergement img {
  width: 100%;
  height: 115px;
  object-fit: cover;
}

.fig_herbergement:hover {
  transform: scale(1.02);
  transition: 0.3s;
  box-shadow: 0 4px 20px 0 rgba(68, 68, 68, 0.5);
}

.figcaption {
  padding: 0.5em;
  line-height: 1rem;
}
.hotel_name {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.4rem;
}

.text_price {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0.3rem;
}
.checked {
  color: var(--blue);
}

.gray {
  color: var(--gray);
}

/*--Section 6: Aside -Les plus populaires--*/

#aside_wrapper {
  background-color: var(--gray);
  border-radius: 20px ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  margin: 0;
  padding: 2rem 2rem;
}

.aside_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,145px);
  row-gap: 2rem;
  width: 100%;
  margin-top: 0;
}

#aside_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin :0;
  padding-bottom: 1rem;
}

.fig_aside {
  height: 145px;
  border: white solid 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(139, 83, 83, 0.2);
  margin-top: 0;
  overflow: hidden;
  background-color: white;
  margin-bottom: 2rem;
}

.fig_aside figure{
  display: flex;
  flex-direction: row;
}

.figcap_aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:100%;
  padding : 1rem 1rem 0.5rem 1rem;
}

.fig_aside  img {
  min-width: 35%;
  max-width:35%;
  width: 35%;
  height: 135px;
  object-fit: cover;
}


.star {
  font-size: 1rem;
  word-spacing: 0;
}
.star::after, .star::before{
  padding: 0;
  margin:0;
}

.fig_aside:hover {
  transition: 0.3s;
  box-shadow: 0 4px 20px 0 rgba(68, 68, 68, 0.5);
  transform: scale(1.02);

}

/*--section 7: Activity --*/

#activity{
  margin : 2rem;
}
h2 {
  font-weight: bold;
}

#activity_header {
  margin-top: 4rem ;
  margin-bottom: 2rem;
}

.activity_card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
   grid-template-rows: 140px 40px 15px 40px 40px 110px 55px;
  box-sizing: border-box;
  grid-auto-columns: 1rem;
}

.card {
  border-radius: 20px ;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(139, 83, 83, 0.2);
  margin: auto;
  position : relative;
  z-index: 0;
  border: none;

}

.card img {
  width : 100%;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 8px 0 rgba(139, 83, 83, 0.2);
  object-fit: cover;
}
.card:hover {
  transition: 0.3s;
  transform: scale(1.03); 
  box-shadow: 0 4px 20px 0 rgba(68, 68, 68, 0.5);
}

.card figcaption {
  padding: 1rem;
  vertical-align: center;
  height: 55px;
  font-weight: bold;
  font-size: 1.05rem;
  position:absolute;
  bottom: 0;
  z-index: 1 ;
  background-color: white;
  width: 100%;
}

/*--card 1--*/
#card_1 {
  grid-column: 1/2;
  grid-row: 1/8;
}
#card_1 img {
  height: 440px;
}
/*--card 2--*/
#card_2 {
  grid-column: 2/3;
  grid-row: 1/5;
}

#card_2 img {
  height: 235px;
}

/*--card 3--*/

#card_3 {
  grid-column: 2/3;
  grid-row: 6/7;
}
#card_3 img {
  height: 165px;
}

/*--card 4--*/

#card_4 {
  grid-column: 3/4;
}

#card_4 img {
  height: 440px;
}

/*--card 5--*/

#card_5 {
  grid-column: 4/5;
}

#card_5 img {
height: 195px;
}

/*--card 6--*/
#card_6 {
  grid-column: 4/5;
  grid-row: 5/8;
}
#card_6 img {
  height: 205px;
}


/*--section 8 Footer--*/
footer {
  background-color: var(--gray);
  padding: 2rem;
}

.footer li:first-child {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
}
.footer ul{
  width : 100%;
}
.footer li{
  line-height: 2rem;
}
.footer a:hover {
  color: var(--blue);
}

/**-----@medie queries section --**/
@media screen and (min-width: 1441px) {
  #main-wrapper {
   max-width: 1440px;
   margin: auto;
  }

  .footer{
  max-width: 1350px;
  margin :  auto;
  }
}

